version: '3.4'

services:
  db:
    image: postgres:14
    environment:
      - 'POSTGRES_USER=admin'
      - 'POSTGRES_PASSWORD=admin'
    volumes:
      - data:/var/lib/postgresql/data
    ports:
      - 5434:5432
    restart: always
    networks:
      - db-network
volumes:
  data: null

networks:
  db-network:
    driver: bridge
