name: Validate Linter

on:
  push:
    branches:
      - '**'
      - '!main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  check:
    name: Run test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ github.token }}
      - uses: actions/setup-node@v3
        with:
          node-version: '22'
      - name: Install package
        run: corepack enable && pnpm install
      - name: Check lint
        run: pnpm lint
      - name: Run test
        run: pnpm test
