name: Validate Linter

on:
  push:
    branches:
      - '**'
      - '!main'

jobs:
  check:
    name: Run test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install package
        run: yarn
      - name: Check lint
        run: yarn lint
      - name: Run test
        run: yarn test
